body {
    background-color: black;
    color: gray;
    font-family: "Times New Roman", Times, serif;
}
a {
    width: fit-content;
    justify-content: flex-end;
    color: rgb(158, 177, 19);
}
.link {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
a:hover {
    color: rgb(230, 105, 255);
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 240px;
    margin: 7px;
    border-radius: 3px;
    border: 3px solid rgb(134, 86, 184);
    background-color: rgb(7, 84, 84);
}
